body {
  margin: 0;
  /*padding: 50px;*/
  font-family: sans-serif;;
}

.allignment-main{
  width: 85%;
  /*max-width: 920px;*/
  margin: auto;
}

/*applicable to all*/
.fluid-container {
  width: 100%;
  float: left;
}
/*applicable to all*/
.container {
  width: 100%;
  max-width: 920px;
  margin: auto;
}
/*div column 2*/

/*class header */
.header {
background-color: #9DC41D;
}

/*Offer Header*/
.headertitle {
float: left;
width: 68%;
color: #619118;
font-family: sans-serif;
text-shadow: 0.5px 0.5px #D6FE33;
font-size: 21px;
font-weight: bold;
margin-top: 13px;
padding-bottom: 10px;
}

/*Click header*/
.headerlink{
float: left;
width: 25%;
margin-top: 13px;
padding-bottom: 10px;
}

/*a tag header*/
.header a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: small;
  font-family: serif;
}

/*Menu and logo*/
.navigationMenu {
background-color: #F0F0F0;
}
/*Logo font*/
.logo {
float: left;
width: 13%;
padding: 9px 0px;
margin-left: 0px;
}
/*Menu Font*/
.menu {
float: left;
width: 75%;
padding: 13px 0px 0px 16px;
}
/*Li menu*/
.menu li{
  float: left;
  padding: 2px;
}
/*A tag decoration*/
.menu a{
  text-decoration: none;
  color: #533523;
  font-weight: bold;
  font-size: 14px;
}
/*Entire Banner*/
.banner{
background-color: #493829;
/*#36260B*/
height: 408px;
width: 100%;
}
/*Search Panel*/
.searchPanel {
  right: 50%;
  left: 50%;
  color: #F0F0F0;
  padding-bottom: 33px;
  padding-top: 7px;
  background-image: url(../images/Pennystock_contback.png);
}
/*Paragraph searchPanel*/
.searchPanel p{
  font-size: 20px;
  float: left;
}
/*Image searchPanel*/
.searchPanel img{
  padding: 16px 2px 3px 1px;
  float: left;
}
/*Form searchPanel*/
.searchPanel form{
  padding: 19px 2px 3px 1px;
}
/*Search field*/
.add_email {
  border-radius: 4px;
  height: 18px;
  width: 178px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #F0F0F0;
}
/*highlight panels*/
.highlight {
  background-color: #68422C;
  width: 819px;
  height: 222px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0.75px 0.75px #D2865A;
}
/*general Panel*/
.panel{
width: 33.3333333%;
float: left;
}
/*Alert*/
.alert {
  margin-bottom: -15px;
}
/*Panel background*/
.panel1, .panel2 {
  background-image: url(../images/Pennystock_contbotback.png);
  background-repeat: no-repeat;
  background-position: right;
}
/*Panel 3 image alignment*/
.panel3 {
margin-top: -120px;
}
/*Image alignmnet*/
.add_image {
  padding: 0px 0px 0px 154px;
}
/*Content and image allignmnet*/
.feature{
text-align: left;
margin-top: 38px;
position: absolute;
}
/*Allign p tag under feature*/
.feature p{
  display: inline;
}
/*Content main*/
.content{
background-color: #816C5B;
height: 375px;
}
/*alignment of content 1 and 2*/
.content1{
  margin-top: 25px;
}
/*Content 1 */
.content-1{
width: 50%;
height: 200px;
float: left;
}
/*P tag of content-1*/
.content-1 p{
margin: 10px 0px 10px 0px;
font-size: 13px;
color: #F5DFD0;
}
/*Images and email div*/
.content-2{
padding-left: 515px;
height: 100px;
}
/*Email box within Content 2*/
#inner-box {
  background-color: #493829;
  width: 280px;
  height: 110px;
  margin-top: 30px;
  box-shadow: 0px 0px 2px 4px #49381E;
  border-radius: 19px;
  padding: 20px 0px 0px 15px;
}
/*Footer1*/
.footersection1 {
background-color: #68422C;
}
/*footer1 section p tag*/
.footersection1 p{
  font-size: 14px;
  color: #F5DFD0;
  padding: 17px;
  margin: 0px;
}
/*Footer section 2 main*/
.footersection2{
  background-color: #493829;
  height: 200px;
  width: 100%;
}

.footer-list {
  max-width: 855px;
}

.sitemap{
  width: 25%;
  float: left;
}

.sitemap ul{
  padding-left: 0px;
}
.sitemap li, a {
  text-decoration: none;
  color: #CCCC00;
  list-style: none;
  padding-top: 3px;
}

.footer_email{
  border-radius: 4px;
  height: 18px;
  width: 85px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #F0F0F0;
}

.container hr {
border-top: 1px #A52A2A;
width:88%;
margin: 0px;
box-shadow: 1px 1px #A52A2A
}
.ls-footer {
  font-size: 12px;
  color: #ECDFAE;
  float: left;
  width: 88%;
  margin-top: 3px;
}
.border-tag {
  width: 88%;
  height: 1px;
  background-color: #816441;
  float: left;
  box-shadow: 1px 1px #AD9170;
}
